NET "PHY_RX_CLK"    LOC = P83   | IOSTANDARD = LVCMOS33;
NET "FPGA_CLK"      LOC = P41   | IOSTANDARD = LVCMOS33;
NET "SIGNAL1_!OE"   LOC = P62   | IOSTANDARD = LVCMOS33;
NET "LED1_!OE"      LOC = P36   | IOSTANDARD = LVCMOS33;
NET "LED1_STB"      LOC = P42   | IOSTANDARD = LVCMOS33;
NET "LED1_CLK"      LOC = P40   | IOSTANDARD = LVCMOS33;
NET "LED1_D"        LOC = P43   | IOSTANDARD = LVCMOS33;
NET "LED1_C"        LOC = P47   | IOSTANDARD = LVCMOS33;
NET "LED1_B"        LOC = P48   | IOSTANDARD = LVCMOS33;
NET "LED1_A"        LOC = P49   | IOSTANDARD = LVCMOS33;
NET "LED1_B2"       LOC = P53   | IOSTANDARD = LVCMOS33;
NET "LED1_G2"       LOC = P54   | IOSTANDARD = LVCMOS33;
NET "LED1_R2"       LOC = P57   | IOSTANDARD = LVCMOS33;
NET "LED1_B1"       LOC = P58   | IOSTANDARD = LVCMOS33;
NET "LED1_G1"       LOC = P60   | IOSTANDARD = LVCMOS33;
NET "LED1_R1"       LOC = P61   | IOSTANDARD = LVCMOS33;
NET "LED2_B2"       LOC = P26   | IOSTANDARD = LVCMOS33;
NET "LED2_G2"       LOC = P27   | IOSTANDARD = LVCMOS33;
NET "LED2_B1"       LOC = P33   | IOSTANDARD = LVCMOS33;
NET "LED2_G1"       LOC = P34   | IOSTANDARD = LVCMOS33;
NET "LED2_R1"       LOC = P35   | IOSTANDARD = LVCMOS33;
NET "LED2_!OE"      LOC = P12   | IOSTANDARD = LVCMOS33;
NET "LED2_STB"      LOC = P15   | IOSTANDARD = LVCMOS33;
NET "LED2_CLK"      LOC = P16   | IOSTANDARD = LVCMOS33;
NET "LED2_D"        LOC = P17   | IOSTANDARD = LVCMOS33;
NET "LED2_C"        LOC = P18   | IOSTANDARD = LVCMOS33;
NET "LED2_B"        LOC = P22   | IOSTANDARD = LVCMOS33;
NET "LED2_A"        LOC = P23   | IOSTANDARD = LVCMOS33;
NET "SIGNAL2_!OE"   LOC = P11   | IOSTANDARD = LVCMOS33;
NET "PHY_TXEN"      LOC = P4    | IOSTANDARD = LVCMOS33;
NET "PHY_RXD3"      LOC = P88   | IOSTANDARD = LVCMOS33;
NET "PHY_!RST"      LOC = P5    | IOSTANDARD = LVCMOS33;
NET "PHY_!INT"      LOC = P68   | IOSTANDARD = LVCMOS33;
NET "PHY_MDC"       LOC = P67   | IOSTANDARD = LVCMOS33;
NET "PHY_MDIO"      LOC = P66   | IOSTANDARD = LVCMOS33;
NET "PHY_TXD0"      LOC = P98   | IOSTANDARD = LVCMOS33;
NET "PHY_TXD1"      LOC = P99   | IOSTANDARD = LVCMOS33;
NET "PHY_TXD2"      LOC = P2    | IOSTANDARD = LVCMOS33;
NET "PHY_TXD3"      LOC = P3    | IOSTANDARD = LVCMOS33;
NET "PHY_TX_CLK"    LOC = P91   | IOSTANDARD = LVCMOS33;
NET "PHY_COL"       LOC = P71   | IOSTANDARD = LVCMOS33;
NET "PHY_CRS"       LOC = P70   | IOSTANDARD = LVCMOS33;
NET "PHY_RXD0"      LOC = P84   | IOSTANDARD = LVCMOS33;
NET "PHY_RXD1"      LOC = P85   | IOSTANDARD = LVCMOS33;
NET "PHY_RXD2"      LOC = P86   | IOSTANDARD = LVCMOS33;
NET "PHY_RXDV"      LOC = P89   | IOSTANDARD = LVCMOS33;
NET "PHY_TXER"      LOC = P95   | IOSTANDARD = LVCMOS33;
NET "FLASH_CCLK"    LOC = P50   | IOSTANDARD = LVCMOS33;
NET "FLASH_D0"      LOC = P44   | IOSTANDARD = LVCMOS33;
NET "FLASH_INIT_B"  LOC = P25   | IOSTANDARD = LVCMOS33;
NET "FPGA_RESET"    LOC = P69   | IOSTANDARD = LVCMOS33;
NET "N$1"           LOC = P39   | IOSTANDARD = LVCMOS33;
NET "LED2_R2"       LOC = P32   | IOSTANDARD = LVCMOS33;
